<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">              
      
      
      <!--<a routerLink="/newfooditem" routerLinkActive="active" class="nav-link"><h5 style="color: aliceblue;">Create New Food Item</h5></a>-->
      <!--<a routerLink="/admin" routerLinkActive="active" class="nav-link"><h5 style="color: aliceblue;">Change Password</h5></a>-->
      <img src="https://img.icons8.com/emoji/2x/woman-cook.png" width="50" alt="logo">      
      <a class="navbar-brand text-bold" href="#"><h1>My Kitchen Story</h1></a>          
    </div>
</nav>


  
