<div class="row">
    <div class="col-md-3"></div>
       <div class="col-md-6">
        <form (ngSubmit)="changepassword()"> 
           ID:
            <input type="text" class="form-control"  [(ngModel)]="admin.id" name="id" ><br/>  
                    
          UserName:
            <input type="text" class="form-control" [(ngModel)]="admin.username"  name="username" name="username"><br/>
            
          Password:  
            <input type="text" class="form-control"  [(ngModel)]="admin.password" name="password"><br/>
  
          <input type="submit" value="Update Password" class="btn btn-success">         
        </form>
       </div>   
  <div class="col-md-3"></div>
  </div>
   
  
  
