
<input type="button" value="HomePage" class="btn btn-primary" (click)="showHomePage()">;
<div class="row">
    <div class="col-md-3"></div>
       <div class="col-md-6">
        Credit Card Number:
        <input type="text" value="" class="form-control"><br/>
        First Name:
        <input type="text" value="" class="form-control"><br/>
        Last Name:
        <input type="text" value="" class="form-control"><br/>
        Address:
        <input type="text" value="" class="form-control"><br/>
        Phone number:
        <input type="text" value="" class="form-control"><br/><br/><br/>
        <input type="button" value="Pay" class="btn btn-success" (click)="showThankyou()">
        
      </div>
    <div class="col-md-3"></div>
</div>

   